/*
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://css-tricks.com/international-box-sizing-awareness-day/
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



body {
  color: #545149;
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.container{
  width: 90%;
  margin:auto;
  background-color: #f4f1ec;
  }



/* -----------------+++++++++++++---------------- */
@media only screen and (min-width: 768px) {
/* -----------------+++++++++++++---------------- */

  body {
    color: #545149;
    background-color: #f4f1ec;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    
  }
  
  .container{
    justify-self: end;
    width: 65%;
    margin: 110px 30px 0 30px;
    background-color: #f4f1ec;
    }
  
  .bodyContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

 }