nav p {
  font-size: 0.8em;
  margin-bottom: 5px;
}
nav i {
  color: rgb(0, 255, 247);
  margin-top: 0px;
}

nav p span {
  font-size: 1.2em;
  font-weight: bold;
}

nav h2 {
  font-size: 1.3em;
  font-family: "Bungee", cursive;
  margin-top: 0;
  padding-top: 0;
}
.smallDevices {
  width: 100%;
  position: fixed;
  color: white;
  padding: 0px 0.3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bigDevices {
  display: none;
}
.nav_p {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}

/* -----------------+++++++++++++---------------- */
@media only screen and (min-width: 768px) {
  /* -----------------+++++++++++++---------------- */
  nav p {
    font-size: 1em;
    margin-bottom: 5px;
  }
  nav i {
    color: red;
    margin-top: 0px;
  }

  nav p span {
    font-size: 28px;
    font-weight: bold;
  }

  nav h2 {
    font-size: 2em;
    font-family: "Bungee", cursive;
    margin-top: 60px;
  }
  .smallDevices {
    display: none;
  }
  .bigDevices {
    height: 80px;
    width: 100%;
    position: fixed;
    color: white;
    background-color: #4055a1;
    padding: 1em 1.5em 0 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 3px 5px black;
  }
  .nav_p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
